%% -*- erlang -*-
{deps, [
        {
          jiffy, 
          ".*", 
          {git, "git://github.com/davisp/jiffy.git", {tag, "0.5.2"}}
        },
        {
          plists,
          ".*",
          {git, "git://github.com/eveel/plists.git", "master"}
        },
        {
          ux,
          ".*", 
          {git, "git://github.com/erlang-unicode/ux.git", {tag, "v3.4.1"}}
        },
        {
          mochiweb,
          ".*", 
          {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.3.2"}}
        },
        {
          mochiweb_xpath,
          ".*",
          {git, "git://github.com/retnuh/mochiweb_xpath.git", {tag, "v1.0.0"}}
        },
        {
          eamutils,
          ".*",
          {git, "git://github.com/ericmoritz/erl-eamutils.git", "master"}
        }

]}.
