%% -*- erlang -*-
{deps, [
        {
          jiffy, 
          ".*", 
          {git, "git://github.com/davisp/jiffy.git", {tag, "0.5.2"}}
        },
	{
	  jsx,
	  ".*",
	  {git, "git@github.com:talentdeficit/jsx.git", {tag, "v1.4.2"}}
	},
        {
          bear, 
          ".*", 
          {git, "git://github.com/boundary/bear.git", {tag, "0.1.3"}}
        },
        {
          plists,
          ".*",
          {git, "git://github.com/ericmoritz/plists.git", "master"}
        },
        {
          ux,
          ".*", 
          {git, "git://github.com/erlang-unicode/ux.git", {tag, "v3.4.1"}}
        },
        {
          eper,
          ".*", 
          {git, "git://github.com/massemanet/eper.git", "8cf87a6088f3a6e779075777578191556c551850"}
        },
        % {
        %   mochiweb_xpath,
        %   ".*",
        %   {git, "git://github.com/retnuh/mochiweb_xpath.git", {tag, "v1.0.0"}}
        % },
        {
          riak_pipe,
          ".*",
          {git, "git://github.com/basho/riak_pipe.git", "master"}
        },
        {
          eamutils,
          ".*",
          {git, "git://github.com/ericmoritz/erl-eamutils.git", "master"}
        }

]}.
